* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400, 600, 700;
  font-style: normal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: hsl(0, 0%, 8%); */
  color: white;
}

a {
  text-decoration: none;
  color: white;
}
/* div,
ul,
li {
  border: 1px solid lime;
} */

.profile_card {
  display: flex;
  flex-direction: column;
  background: hsl(0, 0%, 12%);
  width: 370px;
  height: auto;
  border-radius: 25px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 10) 0px 18px 36px -18px;
}

.profile_card_header {
  padding: 20px 0px 10px 0px;
}

.profile_card_img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile_img {
  width: 25%;
  clip-path: circle(35px at center);
}

.profile_card_details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 1.25rem;
  padding-bottom: 10px;
}

h2 {
  font-size: 0.75rem;
  padding-bottom: 5px;
  color: hsl(75, 94%, 57%);
}

p {
  font-size: 0.75rem;
}

.profile_card_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px 0 20px 0;
}

.profile_card_list_item {
  display: flex;
  background: hsl(0, 0%, 20%);
  width: 300px;
  height: 40px;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  cursor: crosshair;
}

.profile_card_list_item:hover {
  background: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 20%);
  transition: background 0.3s ease;
}

.item_descript {
  /* border: 1px solid lime; */
  padding-left: 5px;
  opacity: 1;
}

@media all and (max-width: 430px) {
  body {
    display: flex;
    min-height: 100vh;
    width: auto;
  }
}
